<!DOCTYPE html>
<head>

</head>
<body>
	<div class="search">
		<h1>Product Menu</h1>
		<form action="search" method="POST">
			<input type="text" name="productID" placeholder="ProductID" required>
			<input type="submit">
		</form>
	</div>
	<ul>  
	<% for(var i = 0 ; i < products.length ; i++) { %>  
		<li><%= products[i].name %></li>  
	<% } %>  
	</ul>  

</body