<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/js/frontend.js"></script>
</head>
<body>
  <h1>Register</h1>
  <table>
      <tr>
          <th>ID</th>
          <td id="id"></td>
      </tr>
      <tr>
          <th>Name</th>
          <td><input type="text" id="name" name="name"></td>
      </tr>
      <tr>
          <th>Stock</th>
          <td><input type="text" id="stock" name="stock"></td>
      </tr>
      <tr>
          <th>In price</th>
          <td><input type="text" id="inPrice" name="inPrice"></td>
      </tr>
      <tr>
          <th>Out price</th>
          <td><input type="text" id="outPrice" name="outPrice"></td>
      </tr>
      <tr>
          <th>Company</th>
          <td><input type="text" id="company" name="company"></td>
      </tr>
  </table>
  <button type="button" id="register">Register</button>
  <script>
    window.onload = function(){
      getRegisterId();
    }
    
    document.querySelector('#register').onclick = function(){
      register();
    };
  </script>
</body>
</html>